* {
    box-sizing: border-box;
    font-size: 18px;
    margin: 0;
    color: rgba(32, 32, 32, 0.904);
    font-family: 'Rock Salt', cursive;
}

html, body, main,.heading, .places, .montenegro, .croatia, .bosnia, .hungary, .italy,
 .pin-div, .name-div, .pic-div {
    display: flex;
}

body, html {
    min-width:375px;
    min-height:668px;
    height: 100%;
}

body {
    padding: 11.25px;
    background: linear-gradient(rgba(163, 195, 241, 0), rgba(222, 223, 224, 0.596)), url("./images/Background\ photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

body::after{
    content: url("");
    background-image: url("/images/avionche.png");
    position: absolute;
    width: 80px;
    height: 80px;
    top: 25px;
    left: 75%;
    background-size: cover;
    background-repeat: no-repeat;
}

body, main {
    align-items: center;
    justify-content: center;
}

main, .places, .heading {
    width: 352.5px;
    flex-direction: column;
}

.montenegro, .croatia, .bosnia, .hungary, .italy {
    flex-direction: row;
    height: 100px;
    padding: 2%;
}

.montenegro:hover, .croatia:hover, .bosnia:hover, .hungary:hover, .italy:hover {
    cursor: pointer;
    background-color: rgba(184, 171, 171, 0.363);
}

.montenegro, .croatia, .hungary, .italy {
    margin-bottom: 3%;
}

.pin-div {
    flex-basis: 10%;
    align-items: center;
}

.pin-div img {
    height: 30%;
}

.name-div {
    flex-basis: 45%;
    align-items: center;
    justify-self: left;
    font-size: 14px;
    letter-spacing: 0.15rem;
}

.pic-div img {
    width: 120px;
    border-radius: 0.3rem;
    opacity: 0.77;
    box-shadow: 0 3px 10px rgb(41, 41, 41);
}

.pic-div {
    flex-basis: 45%;
    justify-content: right;
}

h1 {
    letter-spacing: 0.5rem;
    text-align: left;
}

.heading {
    padding:10% 3%;
}